* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #2c3345;
}

input,
label,
select {
  cursor: pointer;
}

#root {
  display: flex;
  flex-direction: column;
  padding: 35px 50px;
  max-width: 500px;
  margin: 0 auto;
}

.title {
  margin-bottom: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;

  &-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    margin-bottom: 20px;
  }

  &-select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

    &__options {
      width: 33%;
      height: 30px;
      border: 1px solid #b8bdc9;
      border-radius: 4px;
      outline: none;
    }
  }

  &-currency {
    display: flex;
    margin-bottom: 30px;
    flex-wrap: wrap;

    &__title {
      margin-bottom: 20px;
      width: 100%;
    }

    &__value {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 11%;
      margin-right: 20px;
    }
  }
}

input[type='date'],
input[type='submit'] {
  height: 2.5em;
  padding: 0 0.625em;
  margin: 0 0.625em;
  font-family: 'Roboto', sans-serif;
  border: 1px solid #b8bdc9;
  border-radius: 4px;
  background-color: #fff;
  outline: 0;
}

table {
  width: 100%;
  border-top: 2px solid #2c3345;
  border-bottom: 2px solid #2c3345;
}

td,
th {
  padding: 3px;
}

th {
  text-align: left;
  border-bottom: 1px solid #b8bdc9;
}
